select = [
    "E",
    "F",
    "W505",
    "PT018",
    "Q000",
    "SIM101",
    "SIM114",
    "PGH004",
    "PLE1142",
    "RUF100",
    "I002",
    "F404",
    "TCH",
    "UP007"
]
line-length = 120
format = "grouped"
target-version = "py310"
cache-dir = "./.ruff_cache"

[flake8-pytest-style]
mark-parentheses = false
parametrize-names-type = "list"
parametrize-values-row-type = "list"
parametrize-values-type = "tuple"

[flake8-quotes]
avoid-escape = false
docstring-quotes = "double"
inline-quotes = "single"
multiline-quotes = "single"

[flake8-unused-arguments]
ignore-variadic-names = true

[isort]
lines-between-types = 1
order-by-type = true

[per-file-ignores]
"backend/app/api/v1/*.py" = ["TCH"]
"backend/app/models/*.py" = ["TCH003"]
"backend/app/**/__init__.py" = ["F401"]
"backend/app/tests/*.py" = ["E402"]
