line-length = 120
preview = true
fix = true
unsafe-fixes = true
show-fixes = true
required-version = ">=0.13.0"

[lint]
select = [
    "FAST",
    "ANN001",
    "ANN201",
    "ANN202",
    "ANN204",
    "ANN205",
    "ANN206",
    "ASYNC110",
    "ASYNC116",
    "ASYNC210",
    "ASYNC212",
    "ASYNC230",
    "ASYNC240",
    "ASYNC250",
    "ASYNC251",
    "S310",
    "FBT001",
    "FBT002",
    "B002",
    "B005",
    "B006",
    "B007",
    "B008",
    "B009",
    "B010",
    "B013",
    "B014",
    "B019",
    "B020",
    "B021",
    "B024",
    "B025",
    "B026",
    "B027",
    "B039",
    "COM",
    "C402",
    "C403",
    "C404",
    "C408",
    "C410",
    "C411",
    "C414",
    "C416",
    "C417",
    "C418",
    "C419",
    "C420",
    "DTZ",
    "EXE",
    "ISC001",
    "ISC002",
    "ISC003",
    "PIE",
    "PYI009",
    "PYI010",
    "PYI011",
    "PYI012",
    "PYI013",
    "PYI016",
    "PYI017",
    "PYI019",
    "PYI020",
    "PYI021",
    "PYI024",
    "PYI026",
    "PYI030",
    "PYI033",
    "PYI034",
    "PYI036",
    "PYI041",
    "PYI042",
    "PYI055",
    "PYI061",
    "PYI062",
    "PYI063",
    "Q001",
    "Q002",
    "RSE102",
    "RET501",
    "RET505",
    "RET506",
    "RET507",
    "RET508",
    "SIM101",
    "SIM102",
    "SIM103",
    "SIM107",
    "SIM108",
    "SIM109",
    "SIM110",
    "SIM114",
    "SIM115",
    "SIM201",
    "SIM202",
    "SIM210",
    "SIM211",
    "SIM212",
    "SIM300",
    "SIM401",
    "SIM910",
    "TID252",
    "TC",
    "FLY",
    "I",
    "C901",
    "N",
    "PERF",
    "E",
    "W",
    "D404",
    "D417",
    "D419",
    "F",
    "PGH",
    "PLC1901",
    "UP",
    "FURB",
    "RUF",
    "TRY",
]
ignore = [
    "COM812",
    "PGH003",
    "RUF001",
    "RUF002",
    "RUF003",
    "RUF006",
    "RUF012",
    "TRY400",
    "TRY003",
    "TRY301"
]

[lint.per-file-ignores]
"**/model/*.py" = ["TC003"]
"backend/common/socketio/server.py" = ["ANN001"]
"backend/common/exception/exception_handler.py" = ["ANN202","RUF029"]

[lint.flake8-pytest-style]
parametrize-names-type = "list"
parametrize-values-row-type = "list"
parametrize-values-type = "list"

[lint.flake8-quotes]
inline-quotes = "single"

[lint.flake8-type-checking]
runtime-evaluated-base-classes = ["pydantic.BaseModel", "sqlalchemy.orm.DeclarativeBase"]

[lint.flake8-unused-arguments]
ignore-variadic-names = true

[lint.isort]
case-sensitive = true
lines-between-types = 1
order-by-type = true

[lint.pylint]
allow-dunder-method-names = ["__tablename__", "__table_args__"]

[format]
docstring-code-format = true
preview = true
quote-style = "single"
