aiofiles==0.8.0
aioredis==2.0.1
aiosmtplib==1.1.6
alembic==1.7.4
APScheduler==3.8.1
asyncmy==0.2.5
bcrypt==3.2.2
cryptography==39.0.1
email-validator==1.1.3
Faker==9.7.1
fast-captcha==0.1.3
fastapi==0.95.0
fastapi-pagination==0.12.1
gunicorn==20.1.0
httpx==0.23.0
loguru==0.6.0
passlib==1.7.4
path==15.1.2
pre-commit==3.2.2
pydantic==1.10.5
pytest==7.2.2
pytest-pretty==1.2.0
python-jose==3.3.0
python-multipart==0.0.5
redis==4.5.4
ruff==0.0.262
SQLAlchemy==2.0.8
starlette==0.26.1
supervisor==4.2.5
tzlocal==2.1
uvicorn[standard]==0.13.4
wait-for-it==2.2.1
