#!/usr/bin/env python3
# -*- coding: utf-8 -*-
from datetime import datetime

from pydantic import ConfigDict, Field

from backend.common.schema import SchemaBase


class {{ schema_name }}SchemaBase(SchemaBase):
    # todo


class Create{{ schema_name }}Param({{ schema_name }}SchemaBase):
    pass


class Update{{ schema_name }}Param({{ schema_name }}SchemaBase):
    pass


class Get{{ schema_name }}ListDetails({{ schema_name }}SchemaBase):
    model_config = ConfigDict(from_attributes=True)

    id: int
    created_time: datetime
    updated_time: datetime | None = None
