global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: 'fba_server'
    scrape_interval: 5s
    static_configs:
      - targets: ['fba_server:8000']
