# https://grafana.com/docs/grafana/latest/datasources/
apiVersion: 1

datasources:
  - name: Loki
    uid: loki
    type: loki
    url: http://fba_loki:3100
    isDefault: false
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: (?:trace_id)=(\w+)
          name: TraceID
          url: $${__value.raw}

  - name: Prometheus
    uid: prometheus
    type: prometheus
    url: http://fba_prometheus:9090
    isDefault: true
    jsonData:
      httpMethod: POST
      exemplarTraceIdDestinations:
        - name: TraceID
          datasourceUid: tempo

  - name: Tempo
    uid: tempo
    type: tempo
    url: http://fba_tempo:3200
    jsonData:
      nodeGraph:
        enabled: true
      tracesToLogsV2:
        datasourceUid: loki
        filterByTraceID: true
        spanStartTimeShift: "-1m"
        spanEndTimeShift: "1m"
        tags: ["service.name", "compose_service"]
      search:
        hide: false
      serviceMap:
        datasourceUid: prometheus
      lokiSearch:
        datasourceUid: loki
