name: Release changelog

on:
  workflow_run:
    workflows: ['Check version']
    types:
      - completed

jobs:
  changelog:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: master

      - uses: rhysd/changelog-from-release/action@v3
        with:
          file: CHANGELOG.md
          pull_request: true
          commit_summary_template: 'Update the changelog for %s'
          args: -c
          github_token: ${{ secrets.GH_TOKEN }}
